@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3dbeff;
}
header #container-menu {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0 0;
}
header #container-menu .logo-sunnyside {
  align-self: flex-start;
}
header #container-menu #hamburguer {
  align-self: flex-end;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}
header #container-menu #container-links {
  display: none;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  margin: 40px 0 0 0;
  padding: 30px;
  width: 65vw;
  height: 300px;
  z-index: 1000;
  transition: 0.25s;
}
header #container-menu #container-links:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: 98%;
  right: 0vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent #fff transparent;
}
header #container-menu #container-links.visible {
  display: flex;
  visibility: visible;
  animation: hamburguerVisible 0.5s forwards;
}
header #container-menu li a {
  font-size: 1.25rem;
}
header #container-menu li + li {
  margin-top: 50px;
}
header #container-menu a.item-links {
  color: #818498;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}
header #container-menu #call-to-action {
  background-color: #fad400;
  padding: 15px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: #23303e;
}
#we-are {
  padding: 100px 0;
  background-image: url("../images/mobile/image-header.svg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.title-we-are {
  font-size: 3.188rem;
  letter-spacing: 2px;
  color: #fff;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 80px 0;
}
.title-we-are.invisible {
  display: none;
  visibility: hidden;
}
.title-we-are::after {
  display: block;
  content: '';
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 114px;
  margin: 80px auto 0 auto;
  animation: arrow-up-down 0.8s ease-in 0s infinite alternate;
}
#transform {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fffcfa;
}
#transform .yellow-egg {
  background-image: url("../images/mobile/image-transform.svg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}
#transform .title-transform {
  font-family: 'Fraunces', serif;
  font-size: 1.875rem;
  color: #23303e;
}
#transform .transform-content {
  width: 80%;
  padding: 100px 0;
}
#transform .paragraph-content {
  margin: 30px 0;
  font-size: 1.125rem;
  font-family: 'Barlow', sans-serif;
  color: #818498;
  line-height: 1.7;
}
.learn-more {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #23303e;
  z-index: -1000;
}
.learn-more:after {
  content: '';
  display: table;
  margin: 0 auto;
  background-color: #fad400;
  width: 125px;
  height: 10px;
  border-radius: 50px;
  position: relative;
  bottom: 4px;
  opacity: 0.5;
  transition: 0.1s;
}
.learn-more:hover:after {
  opacity: 1;
}
#stand-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fffcfa;
}
#stand-out .pink-cup {
  background-image: url("../images/mobile/image-stand-out.svg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}
#stand-out .title-content {
  font-family: 'Fraunces', serif;
  font-size: 1.875rem;
  color: #23303e;
}
#stand-out .transform-content {
  width: 80%;
  padding: 100px 0;
}
#stand-out .paragraph-stand-out {
  margin: 30px 0;
  font-size: 1.125rem;
  font-family: 'Barlow', sans-serif;
  color: #818498;
  line-height: 1.7;
}
#stand-out .content {
  width: 80%;
  background-color: #fffcfa;
  padding: 100px 0;
}
#stand-out .learn-more:after {
  background-color: #fe7867;
}
#fruits {
  display: flex;
  width: 100%;
  flex-direction: column;
}
#fruits #cherry {
  background-image: url("../images/mobile/image-graphic-design.svg");
  background-size: cover;
  background-position: right left;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
#fruits #tangerine {
  background-image: url("../images/mobile/image-photography.svg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
#fruits .content {
  margin: 65vh auto 0 auto;
  width: 60%;
  text-align: center;
}
#fruits .content .title-fruits {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  margin-bottom: 30px;
}
#fruits .content .title-fruits.cherry {
  color: #25564b;
}
#fruits .content .title-fruits.tangerine {
  color: #19536b;
}
#fruits .content .paragraph-fruits {
  line-height: 1.2;
  font-size: 1.125rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}
#fruits .content .paragraph-fruits.cherry {
  color: #25564b;
}
#fruits .content .paragraph-fruits.tangerine {
  color: #19536b;
}
#client-testmonials {
  background-color: #fffcfa;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#client-testmonials .title-testmonials {
  color: #a7abae;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-bottom: 50px;
}
#client-testmonials .container-testmonials {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#client-testmonials .container-testmonials .item-testmonial + .item-testmonial {
  margin-top: 50px;
}
#client-testmonials .container-testmonials .item-testmonial img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
#client-testmonials .container-testmonials .item-testmonial li:nth-child(2) {
  margin-top: 25px;
}
#client-testmonials .container-testmonials .item-testmonial li:nth-child(3) {
  margin-top: 25px;
}
#client-testmonials .container-testmonials .item-testmonial li:last-child {
  margin-top: 15px;
}
#client-testmonials .container-testmonials .item-testmonial p {
  color: #5a636c;
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
}
#client-testmonials .container-testmonials .item-testmonial h3 {
  color: #23303e;
  font-family: 'Fraunces', serif;
  font-weight: 700;
}
#client-testmonials .container-testmonials .item-testmonial strong {
  color: #a7abae;
  font-family: 'Barlow', sans-serif;
  font-size: 0.938rem;
}
@media (min-width: 800px) {
  header #container-menu {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  header #container-menu #container-links {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    visibility: visible;
    background-color: transparent;
    margin: 0;
    padding: 0px;
    width: 0;
    height: 0;
    z-index: 1000;
    flex: 1;
  }
  header #container-menu #container-links:before {
    visibility: hidden;
    display: none;
  }
  header #container-menu #container-links li + li {
    margin-top: 0;
    margin-left: 40px;
  }
  header #container-menu #container-links li a {
    font-size: 1rem;
  }
  header #container-menu #container-links a.item-links {
    color: #fff;
    transition: color 0.1s;
  }
  header #container-menu #container-links a.item-links:hover {
    color: #818498;
  }
  header #container-menu #container-links #call-to-action {
    background-color: #fff;
    font-weight: normal;
    padding: 15px;
    transition: 1s;
    opacity: 1;
  }
  header #container-menu #container-links #call-to-action:hover {
    background-color: transparent;
    color: #fff;
  }
  header #container-menu #container-links .logo-sunnyside {
    align-self: initial;
    flex: 2;
  }
  header #hamburguer {
    display: none;
  }
  #we-are {
    height: 63vh;
    background-image: url("../images/desktop/image-header.svg");
  }
  #we-are .title-we-are {
    letter-spacing: 10px;
  }
  #transform {
    flex-direction: row;
  }
  #transform .transform-content {
    order: 0;
    align-self: center;
    padding: 0;
    flex: 50%;
    width: 50%;
    padding: 50px 0;
    text-align: left;
  }
  #transform .transform-content .container-content {
    width: 70%;
    margin: 0 auto;
  }
  #transform .transform-content .learn-more:after {
    margin: 0;
    right: 5px;
  }
  #transform .transform-content .paragraph-content {
    width: 100%;
  }
  #transform .yellow-egg {
    padding: 50px 0;
    order: 1;
    flex: 50%;
    background-image: url("../images/desktop/image-transform.svg");
    background-position: 40%;
  }
  #stand-out {
    flex-direction: row;
  }
  #stand-out .pink-cup {
    padding: 50px 0;
    flex: 50%;
    background-image: url("../images/desktop/image-stand-out.svg");
    background-position: 40%;
  }
  #stand-out .content {
    align-self: center;
    padding: 0;
    flex: 50%;
    width: 50%;
    padding: 50px 0;
    text-align: left;
  }
  #stand-out .content .container-content {
    width: 70%;
    margin: 0 auto;
  }
  #stand-out .content .learn-more:after {
    margin: 0;
    right: 5px;
  }
  #client-testmonials .container-testmonials {
    flex-direction: row;
  }
  #client-testmonials .container-testmonials .item-testmonial {
    display: flex;
    flex-direction: column;
  }
  #client-testmonials .container-testmonials .item-testmonial + .item-testmonial {
    margin-top: 0;
  }
  #client-testmonials .container-testmonials .item-testmonial {
    flex: 1;
  }
  #client-testmonials .container-testmonials .item-testmonial p {
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
  }
  #client-testmonials .container-testmonials .item-testmonial li:nth-child(2) {
    margin-top: 50px;
  }
  #client-testmonials .container-testmonials .item-testmonial li:nth-child(3) {
    margin-top: 50px;
  }
}
@media (min-width: 800px) {
  #fruits {
    flex-direction: row;
  }
  #fruits #tangerine,
  #fruits #cherry {
    width: 50%;
    flex: 50%;
  }
  #fruits #cherry {
    background-image: url("../images/desktop/image-graphic-design.svg");
    background-position: center;
  }
  #fruits #tangerine {
    background-image: url("../images/desktop/image-photography.svg");
    backgroun-position: center;
  }
  #fruits .content {
    width: 50%;
  }
}
@-moz-keyframes hamburguerVisible {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes hamburguerVisible {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes hamburguerVisible {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes hamburguerVisible {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes arrow-up-down {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes arrow-up-down {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
@-o-keyframes arrow-up-down {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes arrow-up-down {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
