@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

$fontS = 1.125rem
$barlow = 'Barlow', sans-serif
$fraunces = 'Fraunces', serif
$fw600 = 600
$fw700 = 700
$fw900 = 900
$blue = hsl(200, 100%, 62%)
$Soft-red = hsl(7, 99%, 70%)
$Yellow = hsl(51, 100%, 49%)
$Dark-desaturated-cyan-graphic-design-text = hsl(167, 40%, 24%)
$Dark-blue-photography-text = hsl(198, 62%, 26%)
$Dark-moderate-cyan-footer = hsl(168, 34%, 41%)
$Very-dark-desaturated-blue = hsl(212, 27%, 19%)
$Very-dark-grayish-blue = hsl(213, 9%, 39%)
$Dark-grayish-blue = hsl(232, 10%, 55%)
$Grayish-blue = hsl(210, 4%, 67%)
$White = hsl(0, 0%, 100%)
$White-ice = hsl(26, 100%, 99%)

*
  margin: 0
  padding: 0


img
    display: block
    max-width 100%

ul
  li
    list-style none

a
  text-decoration: none






header
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: $blue
  & #container-menu
      width 80vw
      display: flex
      flex-direction: column
      align-items: center
      padding: 30px 0 0 0
      & .logo-sunnyside
          align-self: flex-start
      & #hamburguer
          align-self: flex-end
          position: absolute
          background: none
          border: none
          cursor pointer
      & #container-links
          display: none
          visibility hidden
          flex-direction: column
          align-items: center
          justify-content: center
          text-align: center
          background-color: $White
          margin: 40px 0 0 0 
          padding: 30px
          width 65vw
          height: 300px
          z-index 1000
          transition: 0.25s
          &:before
            content ''
            width: 0;
            height: 0;
            position absolute
            bottom: 98%;
            right: 0vw;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 30px 30px;
            border-color: transparent transparent $White transparent;
          &.visible
            display: flex
            visibility visible
            animation: hamburguerVisible 0.5s forwards
        & li a
            font-size 1.25rem
        & li + li 
          margin-top: 50px
        & a.item-links
          color:$Dark-grayish-blue
          font-family $barlow
          font-weight $fw600
        & #call-to-action
           background-color: $Yellow
           padding: 15px 25px
           border-radius: 50px
           text-transform uppercase
           font-family $fraunces
           font-weight $fw700
           color $Very-dark-desaturated-blue

#we-are
  padding: 100px 0
  background-image: url("../images/mobile/image-header.jpg")
  background-size: cover
  background-position: center bottom
  background-repeat: no-repeat
.title-we-are
  font-size: 3.188rem
  letter-spacing: 2px
  color: $White
  font-family $fraunces  
  font-weight: $fw900
  text-align: center
  text-transform uppercase
  padding: 0 0 80px 0
  &.invisible
    display none
    visibility hidden
  &::after
      display: block
      content: ''
      background-image:url("../images/icon-arrow-down.svg")
      background-repeat: no-repeat
      width 36px
      height: 114px
      margin: 80px auto 0 auto;
      animation: arrow-up-down 0.8s ease-in 0s infinite alternate






@keyframes hamburguerVisible
  from
    opacity 0
    transform: translateY(-100px)
  to
    opacity 1
    transform: translateY(0)

@keyframes arrow-up-down 
  from
    transform: translateY(-50px)
  to
    transform: translateY(0)

#transform
  display flex
  flex-direction column
  align-items center
  text-align center
  background-color $White-ice
  & .yellow-egg
      background-image url("../images/mobile/image-transform.jpg")
      background-position 50%
      background-size cover
      background-repeat no-repeat
      width 100%
      height 400px
  & .title-transform
      font-family $fraunces
      font-size 1.875rem
      color $Very-dark-desaturated-blue
  & .transform-content
      width 80%
      padding 100px 0
  & .paragraph-content
      margin 30px 0
      font-size $fontS
      font-family $barlow
      color:$Dark-grayish-blue
      line-height 1.7
.learn-more
  font-family $fraunces
  font-weight $fw700
  text-transform uppercase
  color:$Very-dark-desaturated-blue
  z-index -1000
.learn-more:after
  content ''
  display table
  margin 0 auto
  background-color $Yellow
  width 125px
  height 10px
  border-radius: 50px
  position relative
  bottom 4px
  opacity 0.5
  transition: .1s
.learn-more:hover:after
  opacity 1

#stand-out
  display flex
  flex-direction column
  align-items center
  text-align center
  background-color $White-ice
  & .pink-cup
      background-image url("../images/mobile/image-stand-out.jpg")
      background-position 50%
      background-size cover
      background-repeat no-repeat
      width 100%
      height 400px
    & .title-content
      font-family $fraunces
      font-size 1.875rem
      color $Very-dark-desaturated-blue
    & .transform-content
      width 80%
      padding 100px 0
    & .paragraph-stand-out
      margin 30px 0
      font-size $fontS
      font-family $barlow
      color:$Dark-grayish-blue
      line-height 1.7
    & .content
        width 80%
        background-color $White-ice
        padding 100px 0
    & .learn-more:after
        background-color $Soft-red 






@media (min-width: 800px)
  header
    & #container-menu
        flex-direction: row
        align-items: center
        justify-content: center
        & #container-links
          display: flex
          justify-content: flex-end
          flex-direction: row
          visibility: visible
          background-color: transparent
          margin: 0
          padding: 0px
          width 0
          height: 0
          z-index 1000
          flex: 1
          &:before
            visibility hidden
            display none
          & li + li 
              margin-top: 0
              margin-left: 40px
          & li a
            font-size 1rem
          & a.item-links
              color:$White
              transition: color .1s
              &:hover
                  color: $Dark-grayish-blue
          & #call-to-action
            background-color: $White
            font-weight: normal
            padding: 15px
            transition: 1s
            opacity: 1
            &:hover
              background-color: transparent
              color: $White
          & .logo-sunnyside
            align-self: initial
            flex: 2
    & #hamburguer
        display: none
  #we-are
    height: 63vh
    background-image: url("../images/desktop/image-header.jpg")
    & .title-we-are
        letter-spacing: 10px
  #transform
    flex-direction row
    & .transform-content
        order 0
        align-self center
        padding 0
        flex 50%
        width 50%
        padding 50px 0
        text-align left
        & .container-content
            width 70%
            margin 0 auto
        & .learn-more:after
            margin 0
            right 5px
        & .paragraph-content
            width 100%
      & .yellow-egg
        padding 50px 0
        order 1
        flex 50%
        background-image url("../images/desktop/image-transform.jpg")
        background-position 40%
  #stand-out
    flex-direction row
    & .pink-cup
        padding 50px 0
        flex 50%
        background-image url("../images/desktop/image-stand-out.jpg")
        background-position 40%
    & .content
        align-self center
        padding 0
        flex 50%
        width 50%
        padding 50px 0
        text-align left
        & .container-content
            width 70%
            margin 0 auto
          & .learn-more:after
              margin 0
              right 5px

      